@page
@model EksamensProjekt2023.Pages.User.RegisterModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger">

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.register.Email">Email Address</label>
                    <input type="text" asp-for="@Model.register.Email" class="form-control" />
                    <span asp-validation-for="@Model.register.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.register.Password">Password</label>
                    <input type="password" asp-for="@Model.register.Password" class="form-control" />
                    <span asp-validation-for="@Model.register.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.register.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="@Model.register.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="@Model.register.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>