@page
@model EksamensProjekt2023.Pages.Groups.ReadGroupModel
@{
}
<div>
    <form method="get">
        <a class="btn btn-primary" asp-page="/Groups/CreateGroup">Opret Gruppe</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Gruppe Navn</th>
                    <th>Gruppe Leder</th>
                    <th>Gruppe Medlemmer</th>
                </tr>
            </thead>
            @foreach (var group in Model.Groups)
            {
                <tbody>
                    <tr>
                        <td>@group.GroupName</td>
                        <td>@if (group.GroupLeader == null)
                            {
                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                                        Vælg Leder
                                    </button>
                                    <ul class="dropdown-menu">
                                        @foreach (var user in Model.UserProfiles)
                                        {
                                            <a class="dropdown-item btn btn-primary" asp-page="/Groups/AssignLeader" asp-route-userId="@user.Id" asp-route-groupId="@group.Id">@user.FullName</a>
                                        }
                                    </ul>
                                </div>
                            } 
                            else
                            {
                               @group.GroupLeader.FullName
                            }
                        </td>
                        <td>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Medlemmer</th>
                                        <th><a class="btn btn-primary" asp-page="/Groups/AsssignGroupMembers" asp-route-groupId="@group.Id">Tildel Gruppe Medlemmer</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var member in Model.GroupMembers)
                                {
                                    <tr>
                                        <td>
                                            @if(member.Group.GroupName == group.GroupName)
                                            {
                                                @member.UserProfile.FullName
                                            }
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </form>
</div>