@page
@model EksamensProjekt2023.Pages.AdminPanelModel
@{
    ViewData["Title"] = "Administrator Dashboard";
}
@*
/// Date Created: 2023-11-20 - 2023-11-26
/// Author: Lasse B. Hindsberg
*@

<div class="adminPanel">
@*    <div class="adminPanelSide">
        <div class="adminPanelSide_User">
            <h3 class="adminPanel_userName">Welcome User.Placeholder</h3>
        </div>
            <ul class="adminPanelSide_LinkContainer">
            <li class="nav-item"><a asp-area="" asp-page="/AdminPanel">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="ListView?page=Groups">Groups</a></li>
            <li class="nav-item"><a class="nav-link" href="ListView?page=Leaders">Leaders</a></li>
        </ul>
        </div>
    *@
    <div class="container-sm mx-auto">
        <h1 class="h1">Dashboard</h1>
        <h4 class="h4">Current Sales</h4>
        <h6 class="h6">sold Raffle Tickets: 4400@*{@data.SoldTickets}*@</h6>
            <div>
            <svg class="dataGraph" xmlns="http://www.w3.org/2000/svg" width="1369.414" height="259.414" viewBox="0 0 1369.414 259.414">
                <g id="Group_5" data-name="Group 5" transform="translate(-231.793 -450.793)">
                    <line id="Line_13" data-name="Line 13" y1="193" x2="193" transform="translate(232.5 516.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_14" data-name="Line 14" x2="93" y2="93" transform="translate(425.5 516.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_15" data-name="Line 15" y1="158" x2="158" transform="translate(518.5 451.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_16" data-name="Line 16" x2="89" y2="89" transform="translate(676.5 451.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_17" data-name="Line 17" y1="44" x2="45" transform="translate(765.5 496.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_18" data-name="Line 18" x2="75" y2="75" transform="translate(810.5 496.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_19" data-name="Line 19" y1="93" x2="93" transform="translate(885.5 478.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_20" data-name="Line 20" x2="182" y2="182" transform="translate(978.5 478.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_21" data-name="Line 21" y1="201" x2="201" transform="translate(1160.5 459.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_22" data-name="Line 22" x2="71" y2="71" transform="translate(1361.5 459.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_23" data-name="Line 23" y1="79" x2="79" transform="translate(1432.5 451.5)" fill="none" stroke="#000" stroke-width="2"/>
                    <line id="Line_24" data-name="Line 24" x2="89" y2="89" transform="translate(1511.5 451.5)" fill="none" stroke="#000" stroke-width="2"/>
                </g>
            </svg>
        </div>

        <div class="container-sm">
            <h3 class="h3 text-dark">Active Groups</h3>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-primary"><a href="listview?page=Groups">See All Groups</a></button>
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Edit Data
                    </button>

                    <ul class="dropdown-menu px-0 py-0 mx-0 my-0">
                <a asp-page="/Groups/CreateGroup" class=" btn dropdown-item bg-success">Create New Group</a>
                <a asp-page="/Groups/UpdateGroup" class="btn dropdown-item bg-info">Update a Group</a>
                <a asp-page="/Groups/DeleteGroup" class="dropdown-item bg-danger">Delete a Group</a>
                    </ul>
                </div>
            </div>

            <ul class="list-group list-group-flush">
                @* turn this into a first 5 forEach loop over boernegroupper *@
                @*
                    @foreach (group in Groups) {
                    <li class="list-group-item">@data.groupName &middot; @data.groupCombinedSales possibly? </li>
                    }

                *@
                <li class="list-group-item">@*@data.groupName &middot; @data.groupLocation (except that one doesn't exist xd)*@</li>
                <li class="list-group-item">@*@data.groupName &middot; @data.groupLocation (except that one doesn't exist xd)*@</li>
                <li class="list-group-item">@*@data.groupName &middot; @data.groupLocation (except that one doesn't exist xd)*@</li>
                <li class="list-group-item">@*@data.groupName &middot; @data.groupLocation (except that one doesn't exist xd)*@</li>
                <li class="list-group-item">@*@data.groupName &middot; @data.groupLocation (except that one doesn't exist xd)*@</li>
            </ul>
        </div>

        <div class="container-sm">
            <h3 class="h3 text-dark">Active Leaders</h3>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-primary"><a href="listview?page=Leaders">See All Leaders</a></button>
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"> Edit Leaders</button>

                    <ul class="dropdown-menu px-0 py-0 mx-0 my-0">
                        <li class="dropdown-item bg-success">Create New Leader</li>
                        <li class="dropdown-item bg-info">Update a Leader</li>
                        <li class="dropdown-item bg-danger">Delete a Leader</li>
                    </ul>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@* @data.LeaderName &middot; @data.LeaderGroup *@</li>
                <li class="list-group-item">@* @data.LeaderName &middot; @data.LeaderGroup *@</li>
                <li class="list-group-item">@* @data.LeaderName &middot; @data.LeaderGroup *@</li>
                <li class="list-group-item">@* @data.LeaderName &middot; @data.LeaderGroup *@</li>
                <li class="list-group-item">@* @data.LeaderName &middot; @data.LeaderGroup *@</li>
            </ul>
        </div>
    </div>
</div>