@page
@model EksamensProjekt2023.Pages.ListViewModel
@{
    ViewData["Title"] = "Administrator Dashboard";
}

<div class="listViewContainer">
    <div class="listViewContent">
        <h1> @Model.pageName </h1>
        <a class="text-body-secondary link-info" href="AdminPanel">Return to Dashboard</a>
        @* Checks what page the URL has listed to and gives content based on the page *@
        @if (Model.pageName == "Groups")
        {
            <table class="dataContainer">
                <tr>
                    <th>ID</th>
                    <th>Group Name</th>
                    <th>Leader Name</th>
                    <th>Members</th>
                </tr>
                @*<tr>
                    <td>@item.ID</td>
                    <td>@item.GroupName</td>
                    <td>@item.LeaderName</td>
                    <td>@item.Members</td>
                </tr> *@

            </table>

        }
        else if (Model.pageName == "Leaders")
        {
            <table class="dataContainer">
                <tr>
                    <th>ID</th>
                    <th>Leader Name</th>
                    <th>Groups</th>
                </tr>
                @*<tr>
                    <td>@item.ID</td>
                    <td>@item.LeaderName</td>
                    <td>@item.Groups</td>
                </tr *@
            </table>
        } 
        else 
        {
            <p>The Page you're currently on has no linked data, please try another page</p>
            <p>Return to <a href="AdminPanel">Home</a></p>
        }

        
    </div>
</div>