@page
@model EksamensProjekt2023.Pages.ListViewModel
@{
    ViewData["Title"] = "List of " + Model.pageName;
}
@*
/// Date Created: 2023-12-07
/// Date Edited: 2023-12-18
/// Author: Lasse B. Hindsberg
*@

<div class="listViewContainer">
    <div class="listViewContent">
        <h1> @Model.pageName </h1>
        <a class="text-body-secondary link-info" href="AdminPanel">Gå Tilbage til AdminPanelet</a>
        @* Checks what page the URL has listed to and gives content based on the page *@
        @if (Model.pageName == "Grupper")
        {
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th >Gruppe Navn</th>
                        <th >Leder Navn</th>
                        <th >Medlemmer</th>
                    </tr>
                </thead>
                <tbody class="align-center">
                    <tr>
                        <td> @Model.Group.GroupName</td>
                        <td> @Model.Group.GroupLeader</td>
                        <td><a class="dropdown-item btn btn-primary" asp-page="/members" asp-route-GroupName="@Model.Group.GroupName">Se Medlemmer</a></td>
                    </tr>
                </tbody>
            </table>

        }
        else if (Model.pageName == "Ledere")
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Leder Navn</th>
                        <th>Tildelte Grupper</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@* @item.LeaderName*@</td>
                        <td>@* a foreach function for list of @item.Groups*@</td>
                    </tr>
                </tbody>
            </table>
        } 
        else 
        {
            <p>Den side du har prøvet at nå, eksistere ikke.</p>
            <p>Gå Tilbage til <a href="AdminPanel">Admin Panelet</a></p>
        }
    </div>
</div>