@page
@model EksamensProjekt2023.Pages.ListViewModel
@{
    ViewData["Title"] = "Administrator Dashboard";
}

<div class="listViewContainer">
    <div class="listViewContent">
        <h1> @Model.pageName </h1>
        <a class="text-body-secondary link-info" href="AdminPanel">Return to Dashboard</a>
        @* Checks what page the URL has listed to and gives content based on the page *@
        @if (Model.pageName == "Groups")
        {
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th >ID</th>
                        <th >Group Name</th>
                        <th >Leader Name</th>
                        <th >Members</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@* @item.ID *@</td>
                        <td>@* @item.GroupName*@</td>
                        <td>@* @item.LeaderName*@</td>
                        <td>@*a foreach function that makes a list from the array Members*@</td>
                    </tr>
                </tbody>
            </table>

        }
        else if (Model.pageName == "Leaders")
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Leader Name</th>
                        <th>Assigned Groups</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@* @item.ID *@</td>
                        <td>@* @item.LeaderName*@</td>
                        <td>@* a foreach function for list of @item.Groups*@</td>
                    </tr>
                </tbody>
            </table>
        } 
        else 
        {
            <p>The Page you're currently on has no linked data, please try another page</p>
            <p>Return to <a href="AdminPanel">Home</a></p>
        }
    </div>
</div>